/* General */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&subset=latin-ext');
*{font-family: 'Lato', sans-serif; color: #313442; box-sizing: border-box;}
body{background: lightgray;}

/* Layout */
.grid{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%;}
.card{background: white; padding: 20px 40px;}
.card-content{line-height: 1.2em}

/* Title and Logo */
.card-title{text-align: center;}
.title{font-weight: 300; color: #192350;}
.logo{background-image: url(../img/logo.png); height: 42px; width:58px; background-size: cover; margin:10px auto; background-position: center;}

/* Form */
.form-group{display: block; margin: 10px 0;}
.full-width{display: block; width: 100%;}
input[type=text], input[type=password]{padding: 5px 0px 3px 10px; border: 1px solid lightgray;}
input[type=submit]{background: #00b68e; color: white; padding: 8px 0; border: none; margin-top: 30px;}
input[type=text]:focus{outline: none !important; border: 1px solid #00b68e;}
input[type=password]:focus{outline: none !important; border: 1px solid gray;}
.bad:focus{outline: none !important; border: 1px solid red !important;}
.mediocre:focus{outline: none !important; border: 1px solid orange !important;}
.good:focus{outline: none !important; border: 1px solid green !important;}


/* Password Rules */
.ui-pwd{display: grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: .5em;}
.visual-aid{height: 8px; border-radius: 4px; background: rgb(233, 233, 233);}
.pwd-rules{font-size: 10pt; list-style-type: none; padding-left:0px;}
.rule:before{content: ""; margin-right: 8px; display: inline-block; width: 8px; height: 8px; background: lightgray; border-radius: 50%;margin-bottom: 1px;}
.rule-bad:before{background: red !important;}
.rule-good:before{background: green !important;}

.visual-bad{background: red !important;}
.visual-mediocre{background: orange !important;}
.visual-good{background: green !important;}

/* Media Query Tablets*/
@media screen and (min-width: 600px){
  .grid{width: 60%;}
  .logo{height: 72px; width:98px;}
  body{font-size: 20pt;}
  .pwd-rules{font-size: 16pt;}
  .rule:before{content: ""; margin-right: 8px; display: inline-block; width: 13px; height: 13px; background: lightgray; border-radius: 50%;margin-bottom: 3px;}
  input{font-size: 18pt; padding: 8px 0 4px 15px;}
}

/* Media Query Desktop*/
@media screen and (min-width: 800px){
  .grid{min-width: 400px; max-width: 30%;}
  body{font-size: 12pt;}
  .pwd-rules{font-size: 10pt;}
  .rule:before{width: 10px; height: 10px; margin-bottom: 1px;}
  input[type=submit]{background: #00b68e; color: white; padding: 8px 0; border: none; font-size: 12pt;}
}